django
BeautifulSoup>=3.0.8
pytils
-e hg+http://dev.pocoo.org/hg/jinja2-main#egg=jinja2
-e hg+http://bitbucket.org/andrewgodwin/south/#egg=south
-e hg+http://bitbucket.org/jbo/satchmo-l10n/#egg=satchmo-l10n
-e hg+http://bitbucket.org/jbo/django-sugar/#egg=django-sugar
-e git+git://github.com/django-extensions/django-extensions.git#egg=django_extensions
-e git+git://github.com/daevaorn/django-composition.git#egg=django-composition
-e git+git://github.com/grengojbo/django-grappelli.git#egg=django-grappelli
-e hg+http://bitbucket.org/bkroeze/django-caching-app-plugins/#egg=django-caching-app-plugins
-e hg+http://bitbucket.org/bkroeze/django-threaded-multihost/#egg=django-threaded-multihost
-e hg+http://bitbucket.org/bkroeze/django-signals-ahoy/#egg=django-signals-ahoy
-e hg+http://bitbucket.org/zacharyvoase/djanjinja/#egg=djanjinja
-e git+git://github.com/grengojbo/django-piston.git#egg=django-piston
-e git+git://github.com/grengojbo/django-keyedcache.git#egg=django-keyedcache
-e git+git://github.com/grengojbo/django-livesettings.git#egg=django-livesettings
-e git+git://github.com/grengojbo/django-bursar.git#egg=django-bursar
-e git+git://github.com/grengojbo/django-currency.git#egg=django-currency
-e git+git://github.com/grengojbo/django-registration.git#egg=django-registration
-e git+git://github.com/grengojbo/restfull.git#egg=restfull
django-admin-tools
django-memcache-status==1.0.1
django-debug-toolbar==0.8
werkzeug
pygments
