django==1.1.1
BeautifulSoup
pytils
-e hg+http://dev.pocoo.org/hg/jinja2-main#egg=jinja2
-e hg+http://bitbucket.org/andrewgodwin/south/#egg=south
http://bitbucket.org/jbo/django-keyedcache/get/0.1.5.tar.gz
-e hg+http://bitbucket.org/jbo/satchmo-livesettings/#egg=satchmo-livesettings
-e hg+http://bitbucket.org/jbo/satchmo-l10n/#egg=satchmo-l10n
-e hg+http://bitbucket.org/jbo/django-sugar/#egg=django-sugar
-e git+git://github.com/django-extensions/django-extensions.git#egg=django_extensions
http://bitbucket.org/bkroeze/django-signals-ahoy/get/tip.tar.gz
-e hg+http://bitbucket.org/jespern/django-piston/#egg=django-piston
-e hg+http://bitbucket.org/daevaorn/django-shoes/#egg=django-shoes
-e hg+http://bitbucket.org/daevaorn/django-composition/#egg=django-composition
-e hg+http://bitbucket.org/jbo/django-grappelli/#egg=django-grappelli
-e hg+http://bitbucket.org/bkroeze/django-threaded-multihost/#egg=django-threaded-multihost
-e hg+http://bitbucket.org/bkroeze/django-caching-app-plugins/#egg=django-caching-app-plugins
-e hg+http://bitbucket.org/baratrion/django-renderform/#egg=django-renderform
-e hg+http://bitbucket.org/zacharyvoase/djanjinja/#egg=djanjinja
-e hg+http://bitbucket.org/bkroeze/django-bursar/#egg=django-bursar
-e git+http://github.com/grengojbo/django-currency.git#egg=django-currency
fabric