-e hg+http://bitbucket.org/jbo/django-keyedcache/#egg=django-keyedcache
-e hg+http://bitbucket.org/bkroeze/django-signals-ahoy/#egg=django-signals-ahoy
-e svn+http://django-rosetta.googlecode.com/svn/trunk/#egg=rosetta
django-debug-toolbar==0.8
werkzeug
ipython
fabric